<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Ride</title>
</head>
<body>

    <h1>hello, {{username}} </h1>

    {{driver_id}}


    <form action="/passenger/modifyride" method="post">   {% csrf_token %}



            <p> destination_address </p>
            <input  name="destination_address" placeholder= {{ride.destination_address}} >

            <p> arrival_data_time </p>
            <input  name="arrival_data_time" type="datetime-local" placeholder=  {{ride.arrival_data_time}} >

            <p> number_passengers </p>
            <input  name="number_passengers" placeholder=  {{ride.number_passengers}} >


            <p> is shared </p>
            <select name="is_shared" placeholder= {{ride.is_shared}} >
                <option value="True">True</option>
                <option value="False">False</option>

            </select>
        
            <p> Other </p>
            <input  name="Other" placeholder= {{ride.Other}}  >

            

            

            

            
    
            <p>   <input type="submit" value="create"> </p>
    </form>





</body>
</html>