<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ride Request LIst</title>
</head>
<body>

    <h1>hello, {{username}} </h1>


    <button onclick="location.href = '/passenger/createride'">create a ride</button>  

    <table>


        <tr>
            <th>arrival_data_time</th>
            <th>destination_address</th>
            <th>detail</th>
            <th>driver & vehicle detail</th>
           

            {%if modify %}

            <th>modify</th>

            {%endif %}
        </tr>

    {% for ride in ride_request_list %}
    <tr>
         <th>{{ride.arrival_data_time}}</th>   <th>{{ride.destination_address}}</th>  <th><a href="/riderequestlist/{{ride.id}}">link</a></th>

         {% if ride.completed_status != 0%}

         <th><a href="/driver/drivermsg/{{ride.driver_id}}">driver & vehicle information</a></th>
  
        {% else %}
        <th><a >None</a></th>

         {%endif%}



         {%if modify %}

            <th><a href="/riderequestlist/modify{{ride.id}}">modify</a></th>

        {%endif %}
    </tr>
    {% endfor %}


    </table>




</body>
</html>