<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ride Request LIst</title>
</head>
<body>

    <h1>hello, {{username}} </h1>

        <p><h3> destination_address : {{ride.destination_address}}   </h3></p>

        <p><h3> vehicle_type : {{ride.vehicle_type}}   </h3></p>

        <p><h3> arrival_data_time : {{ride.arrival_data_time}}   </h3></p>

        <p><h3> number_passengers : {{ride.number_passengers}}   </h3></p>

        <p><h3> is_shared : {{ride.is_shared}}   </h3></p>

        <p><h3> completed_status : {{ride.completed_status}}   </h3></p>

        <p><h3> driver_id : {{ride.driver_id}}   </h3></p>

        <p><h3> destination_address : {{ride.destination_address}}   </h3></p>

    

    





</body>
</html>