{% extends "userbase.html" %}

{% block title %}
    <title>Sharer</title>
{% endblock %}

{% block content %}

    <h2>Sharer Page</h2>
    <h2>{{type}}</h2>
    <br/>
    <form action="/sharer/search/" method="post"> {% csrf_token %}
        <table>
            <tr>
                <th>|</th>
                <th>Destination</th>
                <th>|</th>
                <th>Arrival Time(earliest)</th>
                <th>|</th>
                <th>Arrival Time(latest)</th>
                <th>|</th>
                <th>Passenger Number</th>
                <th>|</th>
                <th>Actions</th>
                <th>|</th>
            </tr>
            <tr>
                <th>|</th>
                <th><input name="destination" /></th>
                <th>|</th>
                <th><input name="arrival_time_earliest" type="datetime-local"/></th>
                <th>|</th>
                <th><input name="arrival_time_latest" type="datetime-local"/></th>
                <th>|</th>
                <th><input name="passenger_number" type="number"/></th>
                <th>|</th>
                <th><input type="submit" value="Search"/></th>
                <th>|</th>
            </tr>
        </table>
    </form>

    <h2>Open Rides</h2>
    {% include "list/request_list.html" with requests=openRequests full=True %}
    <h2>Confirmed Rides</h2>
    {% include "list/request_list.html" with requests=confirmedRequests full=True %}

{% endblock %}


