{% extends "userbase.html" %}

{% block title %}
    <title>Register As a Driver</title>
{% endblock %}

{% block content %}
    {% if errormsg %}
        <script>
            alert('{{ errormsg }}');
        </script>

    {% endif %}

    <label >Please enter the vehicle info</label>
    <form action="/driver/register/" method="post">   {% csrf_token %}

        <p> type </p>
        <input name="type" required="required" >

        <p> license_plate_number </p>
        <input  name="license_plate_number" required="required" >

        <p> max_number_passengers </p>
        <input  name="max_number_passengers" required="required">

        <p> others </p>
        <input  name="others" >

        <p> I want to </p>
        <input type="submit" value="register">
    </form>
{% endblock %}