{% extends "userbase.html" %}

{% block title %}
    <title>Driver</title>
{% endblock %}

{% block content %}
<label>Driver Ride detail</label>
<br/>
<label>Current Ride</label>
<table>
        <tr>
            <th>{{ ride.id }}</th>
            <th>{{ ride.owner_info }}</th>
            <th>{{ ride.vehicle_info }}</th>
            <th>{{ ride.vehicle_type }}</th>
            <th>{{ ride.destination_address }}</th>
            <th>{{ ride.arrival_data_time }}</th>
            <th>{{ ride.number_passengers }}</th>
            <th>{{ ride.is_shared }}</th>
            <th>{{ ride.completed_status }}</th>
            <th>{{ ride.Other }}</th>
        </tr>
</table>


<form action="/driver/confirm_ride/" method="post">
    <input type="hidden" name="ride_id" value="{{ride.id}}"/>
    <input type="submit" value="Confirm Ride"/>
</form>

<form action="/driver/complete_ride/" method="post">
    <input type="hidden" name="ride_id" value="{{ride.id}}"/>
    <input type="submit" value="Complete Ride"/>
</form>


{% endblock %}