<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

    <h1>hello, {{username}} </h1>



<p> <button onclick="location.href = '/oauth/logout'">logout</button> </p>   

<p> <button onclick="location.href = '/account/profile'">my profile</button> 

    <button onclick="location.href = '/riderequestlist/'">view all ride</button> 

    <button onclick="location.href = '/riderequestlist/'">view my ride</button></p>   
    





</body>
</html>