<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <a>hello, </a>
{{username}} 


{% if not vehicle %}
<p> <button onclick="location.href = '/driver/register'">register as a driver</button>   </p>
{% endif %}

<p> <button onclick="location.href = '/oauth/logout'">logout</button>    
    
    
 {% if vehicle %}
    <button onclick="location.href = '/account/modifyvehicle'">change car info</button>  
{% endif %}

     <button onclick="location.href = '/account/modifyaccount'">change user info</button>    </p>

 {% if vehicle %}

 <a>  driver infomation  </a>

 <p> vehicle type:    {{vehicle.type}} </p>

 <p> license_plate_number:    {{vehicle.license_plate_number}} </p>

 <p> max_number_passengers:    {{vehicle.max_number_passengers}} </p>

 <p> others:    {{vehicle.others}} </p>
 

{% endif %}


</body>
</html>